# #include <...>
snippet inc
#include <${1:iostream}>
${0}
endsnippet

# using std::...
snippet use
using std::${1:cout};
${0}
endsnippet

# main
snippet main
int main(int argc, char* argv[])
{
	${0}
	return 0;
}
endsnippet

