[user]
	name = Qi Feng
[alias]
	st = status
	rb = rebase
	rv = remote -v
	a = add
	aa = add --all
	b = branch
	cm = checkout master
	co = checkout
	cmsg = commit -m
	d = diff
	f = fetch
	fa = fetch --all
	p = push
	l = pull
	up = pull --rebase
	lol = log --graph --pretty='%C(auto)%h%d%Creset %s %Cgreen(%cr) %Cblue(%an)'
	lola = log --graph --pretty='%C(auto)%h%d%Creset %s %Cgreen(%cr) %Cblue(%an)' --all
[core]
	editor = vi
