! xrdb ~/.Xresources

! URxvt.inputMethod: ibus
! URxvt.preeditType: OverTheSpot

! URxvt*foreground: white
! URxvt*background: black
URxvt*scrollTtyOutput: false    ! do not scroll with output
URxvt*scrollWithBuffer: true    ! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollTtyKeypress: true   ! scroll back to the bottom on keypress

! URxvt.perl-ext-common: default,matcher,tabbed
URxvt.perl-ext-common: default,matcher,resize-font

! https://github.com/majutsushi/urxvt-font-size
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-equal:  perl:font-size:reset

URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.depth: 32
URxvt*font: xft:Monospace:pixelsize=13
URxvt*boldFont: xft:Monospace:pixelsize=13:Bold
URxvt.scrollBar_right: true
URxvt*iso14755: False
URxvt*iso14755_52: False

! !!Source http://github.com/altercation/solarized
!
! *background: #002b36
! *foreground: #657b83
! !!*fading: 40
! *fadeColor: #002b36
! *cursorColor: #93a1a1
! *pointerColorBackground: #586e75
! *pointerColorForeground: #93a1a1
!
! !! black dark/light
! *color0: #073642
! *color8: #002b36
!
! !! red dark/light
! *color1: #dc322f
! *color9: #cb4b16
!
! !! green dark/light
! *color2: #859900
! *color10: #586e75
!
! !! yellow dark/light
! *color3: #b58900
! *color11: #657b83
!
! !! blue dark/light
! *color4: #268bd2
! *color12: #839496
!
! !! magenta dark/light
! *color5: #d33682
! *color13: #6c71c4
!
! !! cyan dark/light
! *color6: #2aa198
! *color14: #93a1a1
!
! !! white dark/light
! *color7: #eee8d5
! *color15: #fdf6e3

! zenburn
! https://gist.github.com/cqpx/1436584
URxvt*termName: rxvt-256color
urxvt*scrollBar: false
URxvt*xftAntialias: true
URxvt*background: #3f3f3f
URxvt*foreground: #dcdccc
URxvt*cursorColor: #aaaaaa
URxvt*colorUL: #73c0ef
URxvt*underlineColor: #dfaf8f
URxvt*color0: #3f3f3f
URxvt*color1: #cc9393
URxvt*color2: #7f9f7f
URxvt*color3: #d0bf8f
URxvt*color4: #6ca0a3
URxvt*color5: #dc8cc3
URxvt*color6: #93e0e3
URxvt*color7: #dcdccc
URxvt*color8: #000000
URxvt*color9: #dca3a3
URxvt*color10: #bfebbf
URxvt*color11: #f0dfaf
URxvt*color12: #8cd0d3
URxvt*color13: #dc8cc3
URxvt*color14: #93e0e3
URxvt*color15: #ffffff

! rofi.kb-accept-entry:  Control+m,Return,KP_Enter
! rofi.kb-remove-to-eol: Alt+k
! rofi.modi:             window,drun,ssh,run,combi,keys
! rofi.combi-modi:       window,drun,ssh
! rofi.kb-row-up:        Control+k,Control+p,ISO_Left_Tab,Up
! rofi.kb-row-down:      Control+j,Control+n,Down
